<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" th:fragment="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="active treeview">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <li class="header">MAIN NAVIGATION</li>
        <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Rak</span></a></li>
        <li><a href="https://adminlte.io/docs"><i class="fa fa-folder-open-o"></i> <span>Kategori</span></a></li>
        <li><a href="https://adminlte.io/docs"><i class="fa fa-pencil"></i> <span>Penulis</span></a></li>
        <li><a href="https://adminlte.io/docs"><i class="fa fa-building"></i> <span>Penerbit</span></a></li>
        <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Buku</span></a></li>
        <li><a href="https://adminlte.io/docs"><i class="fa fa-users"></i> <span>Anggota</span></a></li>
        <li><a href="https://adminlte.io/docs"><i class="fa fa-suitcase"></i> <span>User Sistem</span></a></li>
        <li class="header">Transaksi</li>
        <li><a href="https://adminlte.io/docs"><i class="fa fa-arrow-circle-left"></i> <span>Pinjam</span></a></li>
        <li><a href="https://adminlte.io/docs"><i class="fa fa-arrow-circle-right"></i> <span>Kembali</span></a></li>
        <li><a href="https://adminlte.io/docs"><i class="fa fa-refresh"></i> <span>Perpanjang</span></a></li>
        <li class="header">Laporan</li>
        <li><a href="https://adminlte.io/docs"><i class="fa fa-line-chart"></i> <span>Laporan Anggota</span></a></li>
        <li><a href="https://adminlte.io/docs"><i class="fa fa-line-chart"></i> <span>Laporan Mutasi Buku</span></a></li>
        <li><a href="https://adminlte.io/docs"><i class="fa fa-line-chart"></i> <span>Laporan Denda</span></a></li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-folder"></i>
                <span>Registration</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="/customers/add"><i class="fa fa-circle-o"></i> Add Customers</a></li>
            </ul>
            <ul class="treeview-menu">
                <li><a href="/customers"><i class="fa fa-circle-o"></i> List Customers</a></li>
            </ul>
        </li>
    </ul>
</section>
<!-- /.sidebar -->